h1,h2,h3,h4,h5,h6{
  margin-bottom: 0.5rem;
}

h1, .h1{
  font-size: 2.25rem;
}

h2, .h2{
  font-size: 1.875rem;
}

h3, .h3{
  font-size: 1.5rem;
}

h4, .h4{
  font-size: 1.25rem;
}

h5, .h5{
  font-size: 1.125rem;
}

h6, .h6{
  font-weight: 700;
}

p{
  margin-bottom: 1rem;
}

label{
  display: block;
  margin-bottom: 0.25rem;
}